<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <% tag_cloud Comment.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% @comments.each do |comment| %>
        <div class="thumbnail">
          <blockquote>
            <p><%= comment.content %></p>
            <p>Tag: <%= comment.tag_list %></p>
            <footer>Submited <%= time_ago_in_words(comment.created_at) %> by: <%= comment.author %></footer>
          </blockquote>
        </div>
      <% end %>
    </div>
  </div>
</div>
