<!DOCTYPE html>
<html>
<head>
  <title>ChabeBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Chabe Journal
        </a>
      </div>
      <%= link_to 'New Comment', new_comment_path, class: "btn btn-default navbar-btn navbar-right" %>
    </div>
  </nav>
<%= yield %>

</body>
</html>
